## Preprocessing

In [1]:
!pip install keras-tuner --upgrade
# Import our dependencies
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import warnings
warnings.filterwarnings('ignore')

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

Requirement already satisfied: keras-tuner in c:\users\gaby\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: kt-legacy in c:\users\gaby\anaconda3\lib\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: requests in c:\users\gaby\anaconda3\lib\site-packages (from keras-tuner) (2.28.1)
Requirement already satisfied: packaging in c:\users\gaby\anaconda3\lib\site-packages (from keras-tuner) (22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gaby\anaconda3\lib\site-packages (from requests->keras-tuner) (2023.5.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\gaby\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gaby\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gaby\anaconda3\lib\site-packages (from requests->keras-tuner) (3.4)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(columns=['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts.loc[classification_counts > 1]
classification_counts_gt1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Look at the identification column NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [10]:
# Choose a cutoff value and create a list of NAMES to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn2.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                750

 dense_1 (Dense)             (None, 8)                 88

 dense_2 (Dense)             (None, 6)                 54

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 899 (3.51 KB)
Trainable params: 899 (3.51 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.6010 - accuracy: 0.7018
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5204 - accuracy: 0.7543
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5098 - accuracy: 0.7563
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5030 - accuracy: 0.7571
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4993 - accuracy: 0.7567
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4970 - accuracy: 0.7579
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4960 - accuracy: 0.7586
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4946 - accuracy: 0.7587
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4938 - accuracy: 0.7584
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4930 - accuracy: 0.7592
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4926 - accuracy: 0.7587
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4920 - accuracy: 0.7593
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4911 - accuracy: 0.7597
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4909 - accuracy: 0.7586
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4904 - accuracy: 0.7602
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4905 - accuracy: 0.7579
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4896 - accuracy: 0.7598
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4896 - accuracy: 0.7600
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4889 - accuracy: 0.7604
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4887 - accuracy: 0.7598
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4880 - accuracy: 0.7599
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4882 - accuracy: 0.7593
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4880 - accuracy: 0.7600
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4874 - accuracy: 0.7596
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4873 - accuracy: 0.7591
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4871 - accuracy: 0.7606
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4869 - accuracy: 0.7590
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4866 - accuracy: 0.7610
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4868 - accuracy: 0.7606
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4864 - accuracy: 0.7597
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4863 - accuracy: 0.7609
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4861 - accuracy: 0.7606
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4862 - accuracy: 0.7589
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4857 - accuracy: 0.7598
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4854 - accuracy: 0.7615
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4853 - accuracy: 0.7605
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4853 - accuracy: 0.7607
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4854 - accuracy: 0.7596
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4852 - accuracy: 0.7594
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4847 - accuracy: 0.7589
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4846 - accuracy: 0.7612
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4847 - accuracy: 0.7592
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4846 - accuracy: 0.7600
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4844 - accuracy: 0.7618
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4844 - accuracy: 0.7611
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4842 - accuracy: 0.7603
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4840 - accuracy: 0.7610
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4841 - accuracy: 0.7603
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4839 - accuracy: 0.7627
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4840 - accuracy: 0.7606

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4921 - accuracy: 0.7531 - 331ms/epoch - 1ms/step
Loss: 0.4921127259731293, Accuracy: 0.7531195282936096

In [18]:
# Export our model to HDF5 file
nn2.save("AlphabetSoupCharity_Optimization.h5")